 
    
    <li class="gallery-item">   
        {{#each this}}
            <div class="photo-card">
                <img src= {{this.webformatURL}} alt={{this.tags}} />

                <div class="stats">
                    <p class="stats-item">
                    <i class="material-icons">thumb_up</i>
                    {{this.likes}}
                    </p>
                    <p class="stats-item">
                    <i class="material-icons">visibility</i>
                    {{this.views}}
                    </p>
                    <p class="stats-item">
                    <i class="material-icons">comment</i>
                {{this.comments}}
                    </p>
                    <p class="stats-item">
                    <i class="material-icons">cloud_download</i>
                {{this.downloads}}
                    </p>
                </div>
            </div> 
        {{/each}}     
    </li> 
     




{{!-- webformatURL - ссылка на маленькое изображение для списка карточек
largeImageURL - ссылка на большое изображение (смотри пункт 'дополнительно')
likes - количество лайков
views - количество просмотров
comments - количество комментариев
downloads - количество загрузок --}}